body {
    margin: auto;
}

.header{
    width: 900px;
    margin: 0 auto 100px;
    padding-top: 75px;
}
.menu-list{
    color:#626262;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.menu-item{
    display: inline-block;
    margin-right: 150px;
    width: 90px;
}
.menu-item:last-child{
    margin-right: 0;
}
.menu-item:hover{
    color:#03a9f4;
}
.main{
    margin: auto;
    width: 900px;
}
.article{
    display: inline-block;
    margin-bottom: 0;
    width: 400px;
    margin-right:30px;
    height: 500px;
}
.article:nth-child(2n+2){
    margin-right: 0 ;
   
}
.img{
    width: 400px;
    height: 300px;
}

.button{
    margin: auto;
    width: 120px;
    height: 50px;
}
.text{
    font-size:14px;
    font-weight: 14;
    color:#626262;
    text-align: justify;
    margin-top: 10px;
}
.first_text{
    font-family: "Ubuntu",sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color:#b4ad9e;
    margin-bottom: 30px;
}
.second_text{
    font-family: 'Playfait Display', serif;
    font-size: 30px;
    font-weight: 400;
    color:#626262;
    margin-bottom: 40px;
}
