.text{
    text-align: justify;
    font-size:20px;
}
.news_card{
    display: inline-block;
}
.img_news{
    width: 350px;
    height: 262px;
    margin-right: 15px;
    margin-top:75px;
}
.text{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:#818080;
    width: 350px;
}
.color_line{
    content: '';
    display: block;
    background-color: #1abc9c;
    height:4px;
    width: 164px;
    margin-top: 11px;
}
.second_text{
    width: 350px;
    font-size: 18px;
    text-align: justify;
    margin-top: 29px;
}
.button{
    background-color: #4ec6ab;;
    width: 159px;
    height: 51px;
    margin-top: 10px;
    margin-right: 200px;
    font-size:16px;
    color:#fff;
    border:none;
    border-radius: 5px;
}
.lettrs{
    color:#fff;
    font-size: 18px;
}